* {
    margin: 0%;
    padding: 0%;

}
:root {
    --cor1:black
}

header {
    background-color: var(--cor1);
    color: white;
    padding: 20px;
    margin: auto;
    text-align: center;
    font-size: 25px;
}

nav {
    font-size: 25px;
    color: white;
    background-color: black;
    text-align: center;
    padding:30px; 
}
nav > p > a {
    text-decoration: none;
    padding: 10px;
    color:white;

}

nav > p > a:hover {
    background-color:gray;
    color: black;
    border-radius: 40px;
}

main {
    margin: auto;
    text-align: left;
    font-size: 50px;
}

.poema {
    margin: 30px;
    background-attachment: fixed;
    padding: 100px 1px;



}

